body{
	background: #f0f0f0;
	font-family: arial;
}
/*大容器*/
.container{
	width: 100%;
	margin: 0 auto;
	/*最大宽度*/
	max-width: 640px;
	/*最小宽度*/
	min-width: 320px;
}
.container>img{
	width: 100%;
}
/**********************************************/
/*header*/




























































